version: "3.8"

services:

  selenium-hub:
    image: selenium/hub:latest
    container_name: selenium-hub
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"

  chrome:
    image: selenium/node-chrome:dev
    platform: linux/amd64
    shm_size: 2gb
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

  firefox:
    image: selenium/node-firefox:dev
    shm_size: 2gb
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

  chrome-for-testing:
    image: selenium/node-chrome-for-testing:dev
    platform: linux/amd64
    shm_size: 2gb
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443

  tests:
      image: selenium-tests:latest
      container_name: selenium-tests-ci-cd
      depends_on:
        - selenium-hub
        - chrome
        - firefox
        - chrome-for-testing
      environment:
        - TEST_SUITE=${TEST_SUITE}
        - BROWSER=${BROWSER}

#  tests:
#    build: .
#    container_name: selenium-tests-ci-cd
#    depends_on:
#      - selenium-hub
#      - chrome
#      - firefox
#      - chrome-for-testing
#    environment:
#      - TEST_SUITE=${TEST_SUITE}
#      - BROWSER=${BROWSER}